<!DOCTYPE html>
</html>
    <head>
        <title><%=page_title%></title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/animate.css" rel="stylesheet" type="text/css">
        <link href="css/buttons.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript" src="js/jquery-3.1.1.js"></script>     
        <script type="text/javascript" src="js/angular-1.5.7.min.js"></script>
        <script type="text/javascript" src="js/loginAngular.js"></script>
        <script type="text/javascript" src="js/zDialog.js"></script>
        <script type="text/javascript" src="js/zDrag.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

        <meta name="viewport" content = "initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
<!--
    zDialog https://github.com/pwstrick/zDialog Thanks to pwstrick The version I use http://www.jq22.com/jquery-info2426

    buttons.css  http://unicorn-ui.com/buttons/ 

    animate.css https://daneden.github.io/animate.css/ 

    Other Libraries can be easily found on the Internet

-->
    </head>
    <body>
