<%- include layout/header.ejs %>
<div id="wrapper">
    <div class="page-header"><h2><%=page_title%></h2></div>
    <div class="page-container">

        <div class="page-data">
            
            <form method="post" action="/login">
                <table cellpadding="11">
                <tr>
                    <td class="beforeinput">Name</td><td>: <input type="text" name="name" required ></td>
                </tr>
                <tr>
                    <td class="beforeinput">Password</td><td>: <input type="password" name="password" required ></td>
                 </tr>
                 <tr>
                    <td class="beforeinput"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Sign in">
                    </td>

                    <td>
                        &nbsp; <input type="button" value="Sign up" onclick="javascript:window.location.href='/reg'"> 
                    </td>
                 </tr>
                </table>
            </form>
            <p class="error"><%=errMSG%></p>
        </div>
    </div>    
</div>         
<%- include layout/footer.ejs %>