<!DOCTYPE html>
</html>
    <head>
        <title><%=page_title%></title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/animate.css" rel="stylesheet" type="text/css">
        <link href="css/buttons.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="js/zDialog.js"></script>
        <script type="text/javascript" src="js/zDrag.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

        <meta name="viewport" content = "initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
    </head>
    <body>
